html {
      scroll-behavior: smooth;
      scroll-padding-top: 213px; 
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Arial, sans serif;
}

#navbar {
  position: fixed;
  flex: 50%;
  height: 100%;
  background: lightgrey;
  border-right: 2px solid grey;
}

.nav-link {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  border-bottom: 1px solid grey; 
  text-decoration: none;
}

.nav-link:hover {
  background: black;
  color: white;
  font-size: 20px;
}

#nav-title {
  padding: 20px 20px;
  border-bottom: 1px solid grey;
}

#main-doc {
  margin-left: 380px;
  padding: 20px;
}

.main-section header {
  padding: 10px;
}

.main-section p {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;       
    height: auto;          
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  #navbar a {
    text-align: center;
    padding: 10px 0;
  }

  #main-doc {
    margin-left: 0;    
    margin-top: 300px;  
    padding: 20px;
  }

  html {
    scroll-padding-top: 320px;
  }
}
